<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>  
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>
    <add key="solution" value="C:\Dev\trunk\VS\MKS.sln" />
    <!--<add key="project" value="C:\Dev\trunk\VS\MKS\MKS.csproj"/>-->
    <add key="rootofSource" value="Source\" />
    <add key="project" value="C:\Dev\MKSSvn\mks_repo\VS\MKS\MKS.csproj" />
    <add key="targetDir" value="c:\dev\Mksv2_Result\"/>
    <add key="nameSpacePrefix" value="MKS.Legacy"/>
    <add key="compileFilesRoot" value="Source"/>
  </appSettings>


  <log4net>
    <appender name="Console" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="FATAL" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Green" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
        <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
      </layout>
    </appender>

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="c:\\logs\\%property{LogName}\\%date{yyyy_MM_dd}_%property{LogName}.log" />
      <datepattern value="yyyy_MM_dd" />
      <maxsizerollbackups>10</maxsizerollbackups>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date|MessageLevel: %-5level|Thread: %-5%thread|Type: %type{1}|Method: %method|Message: %message%newline" />
      </layout>
    </appender>
  
    <root>
      <level value="DEBUG" />
      <appender-ref ref="Console" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>


</configuration>
